#heading {
    color: cadetblue;
}
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

.header-image {
    width: 80px;
    height: 75px;
}

.user-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.user-image {
    width: 60px;
    height: 60px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-container, .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 4;
}

.card, .shimmer-card {
    background-color: beige;
    margin: 10px;
    padding: 10px;
    width: 270px;
}

.shimmer-card {
    height: 400px;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items > ul {
    display: flex;
}

.list > li {
    margin: 10px;
    list-style: none;
}

.card-image {
    width: 270px;
}
.filter {
    display: flex;
}

.user-card {
    padding: 10px;
    border: 1px solid blueviolet;
}

.search {
    margin: 10px;
}